@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Extrabold.eot');
    src: local('Gilroy-Extrabold'),
        url('../fonts/Gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy-Medium'),
        url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Semibold.eot');
    src: local('Gilroy-Semibold'),
        url('../fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy-Regular'),
        url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy-Bold'),
        url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex/EuclidFlex-Regular.eot');
    src: local('EuclidFlex-Regular'),
        url('../fonts/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),
        url('../fonts/EuclidFlex/EuclidFlex-Regular.woff') format('woff'),
        url('../fonts/EuclidFlex/EuclidFlex-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex/EuclidFlex-SemiBold.eot');
    src: local('EuclidFlex-SemiBold'),
        url('../fonts/EuclidFlex/EuclidFlex-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex/EuclidFlex-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidFlex/EuclidFlex-SemiBold.woff') format('woff'),
        url('../fonts/EuclidFlex/EuclidFlex-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex/EuclidFlex-Medium.eot');
    src: local('EuclidFlex-Medium'),
        url('../fonts/EuclidFlex/EuclidFlex-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex/EuclidFlex-Medium.woff2') format('woff2'),
        url('../fonts/EuclidFlex/EuclidFlex-Medium.woff') format('woff'),
        url('../fonts/EuclidFlex/EuclidFlex-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex/EuclidFlex-Bold.eot');
    src: local('EuclidFlex-Bold'),
        url('../fonts/EuclidFlex/EuclidFlex-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex/EuclidFlex-Bold.woff2') format('woff2'),
        url('../fonts/EuclidFlex/EuclidFlex-Bold.woff') format('woff'),
        url('../fonts/EuclidFlex/EuclidFlex-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}