.header
    padding: 50px 0 47px
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 20
    &--primary
        background-color: $lightWhite
        box-shadow: 0px 11px 45.54px 0.46px rgba($greyShadow, 0.25)
    &__logo
        width: 216px
        height: 54px
        margin-left: 17px
    &__content
        +flex-wrap
        justify-content: space-between
    &__contacts
        width: 100%
        max-width: 530px
.nav
    &__list
        list-style: none
        +flex-wrap
    &__item
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__link
        color: $lightBlack
        font-size: 18px
        transition: .4s
        font-weight: 600
        position: relative
        padding: 63px 0 5px
        &:hover
            color: $lightBlue
            &::before
                content: ''
                width: 100%
                height: 6px
                border-radius: 3px
                position: absolute
                top: 0
                left: 0
                background-color: $lightBlueLine
.menu
    &__nav
        margin: 15px 0 0 -17px
.contacts-head
    +flex
    &__button
        max-width: 235px
        margin: -4px 0 0 -7px
    &__phone
        margin: 7px 0 0 91px
        position: relative
        &::before
            content: url('../img/phone-call.svg')
            width: 26px
            height: 26px
            display: inline-block
            position: absolute
            top: 0
            left: -42px