@media screen and ( max-width: 1755px )
    .avto
        &-side
            &__image
                background-position: 120px 105px
@media screen and ( max-width: 1580px )
    .about
        &-top
            &__right
                transform: translate(-33%, 6%)
    .avto
        &-side
            &__image
                background-position: 200px 105px
    .cards
        .container
            max-width: 1420px
        &-block
            &s
                margin: 0
            &__item
                max-width: 330px
    .benefits
        .container
            max-width: 1400px
        &-block
            &__image
                max-width: 450px
                min-width: 450px
                background-size: contain
                transform: translateX(-19%)
                top: 60px
            &__left 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                margin-bottom: 230px
                                top: 45px
            &__right
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                margin-bottom: 205px
                                top: 50px
            &__center
                .benefits
                    &-block
                        &__wrapper
                            top: 50px
    .quiz
        &-block
            &__item
                &:nth-child(1)
                    margin-left: 20px
                &:nth-child(2)
                    margin-right: 20px
@media screen and ( max-width: 1480px )
    .about
        &-top
            &__right
                transform: translate(-20%, 6%)
    .avto
        &-side
            &__image
                background-size: contain
                max-width: 1100px
                background-position: 120px 105px
                min-height: 700px
    .quiz
        &-block
            &__item
                &:nth-child(1)
                    margin-left: 0
                    padding: 60px 10px
                    max-width: 400px
                &:nth-child(2)
                    margin-right: 0
@media screen and ( max-width: 1450px )
    .video
        &-slider
            &-content
                &-btn
                    &.next
                        right: 80px
                    &.prev
                        left: 80px
    .avto
        &-side
            &__image
                max-width: 1000px
                background-position: 140px 145px
                min-height: 700px
    .for
        &-box
            &__inner
                &:nth-child(2)
                    transform: translate(275%, 64%)
                &:nth-child(5)
                    transform: translate(270%, -2%)
@media screen and ( max-width: 1400px )
    .about
        &-top
            &__right
                transform: translate(-15%, 6%)
    .benefits
        .container
            max-width: 1300px
        &-block
            &__image
                max-width: 350px
                min-width: 350px
                transform: translateX(-55%)
                top: 60px
            &__left 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                margin-bottom: 120px
                                top: 0
            &__right
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                margin-bottom: 110px
                                top: 0
            &__center
                .benefits
                    &-block
                        &__border
                            display: none
    .quiz
        &-block
            &__item
                &:nth-child(2)
                    max-width: 870px
                    padding: 80px 15px
@media screen and ( max-width: 1380px )
    .for
        &-box
            &__inner
                &:nth-child(2)
                    transform: translate(249%, 64%)
                &:nth-child(5)
                    transform: translate(249%, -2%)
    .cards
        .container
            max-width: 900px
        &__title
            font-size: 35px
            line-height: 50px
        &-block
            &__title
                font-size: 18px
        &-publicity
            &__box
                &::before
                    height: 100%
    .phone
        font-size: 20px
    .header
        padding: 40px 0
        &__contacts
            max-width: 500px
        &__logo
            margin-left: 0
    .menu
        &__nav
            margin: 15px 0 0 0
    .contacts
        &-head
            &__button
                margin: 0
@media screen and ( max-width: 1360px )
    .video
        &-slider
            &-content
                &-btn
                    top: 45%
                    &.next
                        right: 10px
                    &.prev
                        left: 10px
                &__item 
                    picture
                        max-width: 800px
    .about
        &-top
            &__left
                transform: translateX(45%)
    .collect
        padding: 110px 0 140px
        &-item
            &:nth-child(2)
                transform: translateX(0)
            &__image
                background-size: contain
                min-width: 1100px
                max-width: 1100px
                transform: translate(-56%, 3%)
                min-height: 810px
        &-bg
            background-image: none !important
            min-height: auto
        &-block
            &s
                max-width: 350px
                margin: 0 auto
            &__item
                left: 50%
                margin-bottom: 20px
                max-width: 100%
                width: 100%
                
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4)
                    transform: translate(-50%, 0)
                    padding: 30px 15px 30px 85px
                    .collect
                        &-block
                            &__check
                                right: auto
                                left: -30px
                &:nth-child(1),
                &:nth-child(2)
                    max-width: 100%
        &__title
            margin: 0 0 50px 0
@media screen and ( max-width: 1320px )
    .avto
        padding: 100px 0
        &-side
            &__image
                top: -100px
                right: auto
                left: 50%
                transform: translateX(-50%)
                max-width: 800px
                background-position: center
        &-block
            &__item
                &:nth-child(1)
                    margin: 280px auto 0
                    max-width: 630px
            &__text
                max-width: none
            &__button
                margin: 0 auto
    .quiz
        padding: 100px 0
        &-block
            &__item
                &:nth-child(1)
                    max-width: 350px
            &__wrap 
                span
                    margin-left: 10px
                    font-size: 15px
            &__online 
                span
                    margin: 0
@media screen and ( max-width: 1300px )
    .about
        &-top
            &__left
                transform: translateX(30%)
    .benefits
        padding: 90px 0
        .container
            max-width: 900px
        &-block
            &__center
                display: none
            &__line
                display: none
            &__left,
            &__right
                .benefits-block
                    &__wrapper
                        &:nth-child(1),
                        &:nth-child(2)
                            .benefits-block
                                &__close
                                    right: auto
                                    left: 0
            &__left
                .benefits-block
                    &__wrapper
                        &:nth-child(1)
                            .benefits-block
                                &__number
                                    top: -90px
                                    left: 0
                                &__title
                                    margin: 82px 0 15px 50px
                                &__text
                                    margin: 0
                                &__close
                                    transform: translate(-10px, -160px)
                        &:nth-child(2)
                            .benefits-block
                                &__number
                                    top: -90px
                                    left: 0
                                &__title
                                    margin: 82px 0 15px 50px
                                &__text
                                    margin: 0
                                &__close
                                    transform: translate(-10px, -55px)
            &__right
                .benefits-block
                    &__wrapper
                        &:nth-child(1)
                            margin-bottom: 95px
                            .benefits-block
                                &__number
                                    top: -90px
                                    left: 0
                                &__title
                                    margin: 82px 0 15px 50px
                                &__text
                                    margin: 0
                                &__close
                                    transform: translate(0, -130px)
                        &:nth-child(2)
                            .benefits-block
                                &__number
                                    top: -90px
                                    left: 0
                                &__title
                                    margin: 82px 0 15px 50px
                                &__text
                                    margin: 0
                                &__close
                                    transform: translate(0, -75px)
                    &__text
                        transform: translateX(0)
        &-publicity
            &__box
                margin: 140px auto 0
    .header
        &__contacts
            max-width: none
            width: auto
    .contacts
        &-head
            &__phone
                display: none
@media screen and ( max-width: 1270px )
    .footer
        &-box
            transform: translateX(-15%)
    .for
        &-box
            &__inner
                &:nth-child(2)
                    transform: translate(238%, 64%)
                &:nth-child(5)
                    transform: translate(238%, -2%)
        &-block
            &__item
                &:nth-child(1),
                &:nth-child(2)
                    max-width: 590px
                &:nth-child(2)
                    transform: translateX(0)
                &:nth-child(3)
                    max-width: 650px
            &__inner
                max-width: 460px
                transform: translateX(0)
        &-slider
            &-content
                &-btn
                    &.next
                        right: 40px
                    &.prev
                        left: 40px
@media screen and ( max-width: 1260px )
    .title
        font-size: 38px
        line-height: 50px
    .quiz
        &__gift
            margin: 20px 0 70px
        &-block
            &__wrap
                flex-direction: column
                margin: 0
                span
                    font-size: 16px
            &__item
                &:nth-child(1)
                    max-width: 300px
            &__online 
                span
                    &::before
                        margin: 6px 0 0 60px
                    &::after
                        margin: 2px 0 0 56px
@media screen and ( max-width: 1240px )
    .about
        &-top
            &__left
                transform: translateX(10%)
    .for
        &-bottom
            background-image: none !important
            min-height: auto
        &-box
            &__item
                opacity: 1
            &__inner
                left: 50%
                margin-bottom: 20px
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5)
                    transform: translate(-50%, 0)
                &:nth-child(1)
                    .for
                        &-box
                            &__item
                                padding: 42px 30px 37px 55px
                            &__plus
                                transform: translate(-50%, 55%)
                &:nth-child(2)
                    .for
                        &-box
                            &__plus
                                transform: translate(-55%, 41%)
                &:nth-child(3)
                    .for
                        &-box
                            &__item
                                padding: 38px 20px 42px 55px
                            &__plus
                                transform: translate(-55%, 48%)
                &:nth-child(4)
                    .for
                        &-box
                            &__item
                                padding: 38px 35px 30px 55px
                            &__plus
                                transform: translate(-55%, 50%)
                &:nth-child(5)
                    .for
                        &-box
                            &__item
                                padding: 38px 25px 35px 55px
                            &__plus
                                transform: translate(-55%, 50%)
@media screen and ( max-width: 1220px )
    .about
        &-center
            &__image
                max-width: 560px
                background-position: center
        &-bottom
            &__image
                background-position: center
                max-width: 620px
    .for
        &-block
            &__item
                &:nth-child(1)
                    .for
                        &-block
                            &__image
                                transform: translate(-10px, 45px)
                &:nth-child(1),
                &:nth-child(2)
                    max-width: 550px
@media screen and ( max-width: 1200px )
    .about
        &-top
            &__left
                transform: translateX(0)
    .quiz
        &-block
            &__item
                &:nth-child(1)
                    display: none
                &:nth-child(2)
                    margin: 0 auto
    .hero
        &__bg
            min-height: 1000px
        &-side
            &__left
                margin-left: 0
            &__title
                font-size: 44px
                line-height: 60px
                max-width: 500px
            &__text
                margin: 0 0 69px 0
            &__button
                margin: 0 0 80px 0
            &__right
                background-position: -500px 0
    .advans
        max-width: 500px
        display: block
        &-block
            margin-bottom: 20px
            &__item
                &:nth-child(2)
                    position: relative
                    left: -80px
                &:nth-child(3)
                    margin-left: 10px
@media screen and ( max-width: 1150px )
    .about
        &-top
            &__left
                display: none
            &__right
                transform: translate(-50%, 0%)
                left: 50%
                margin-bottom: 40px
            &__block
                &::before
                    display: none
        &-center
            &__image
                height: 100%
                top: 0
                max-width: 500px
        &-bottom
            &__image
                max-width: 550px
                height: 570px
            &__box
                margin: 0
    .for
        &-block
            &__title
                margin-left: 38px
            &__text
                margin-left: 30px
            &__item
                padding: 40px 0
                &:nth-child(1),
                &:nth-child(2)
                    max-width: 500px
                &:nth-child(3)
                    max-width: 550px
                    .for
                        &-block
                            &__title
                                margin: 0 0 20px 20px
                            &__text
                                margin-left: 12px
            &__inner
                &-top
                    padding: 40px 0
                .for
                    &-block
                        &__title
                            margin: 0 0 20px 40px
        &-slider
            &-content
                margin: 15px auto 10px
                &-btn
                    &.next
                        right: 10px
                    &.prev
                        left: 10px
@media screen and ( max-width: 1100px )
    .collect
        &-item
            &__image
                min-width: 800px
                max-width: 800px
                transform: translate(-56%, 10%)
                min-height: 590px
    .hero
        &-side
            &__right
                background-position: 70% 0
                background-size: cover
                max-width: 900px
@media screen and ( max-width: 1060px )
    #map-yandex
        height: 450px
    .footer
        &__bg
            min-height: 450px
        &-box
            transform: translateX(-50%)
            left: 50%
            padding: 70px 30px 700px
            &__size
                margin: 0
    .video
        padding: 100px 0
        &__title
            margin: 0 0 50px 0
        &-slider
            margin-bottom: 80px
            &-content
                height: 400px
                &-btn
                    top: 45%
                    &.next
                        right: 10px
                    &.prev
                        left: 10px
                &__item 
                    picture
                        max-width: 600px
    .about
        &-center
            &__image
                height: 400px
                position: static
                margin: 0 auto
            &__image,
            &__box
                max-width: 500px
                width: 100%
                margin: 0 auto
        &-bottom
            .container
                display: flex
                flex-direction: column-reverse
            &__box
                width: 100%
                position: static
                margin: 0 auto
            &__image
                margin: 0 auto
            &__image,
            &__box
                max-width: 500px

    .for
        &-block
            &s
                flex-direction: column
                align-items: center
            &__item
                &:nth-child(1), 
                &:nth-child(2),
                &:nth-child(3)
                    max-width: 500px
            &__inner
                max-width: 500px
        &__title
            margin-bottom: 60px
        &-slider
            &-content
                &-btn
                    &.next,
                    &.prev
                        display: none
    .header
        padding: 25px 0
        &::before
            content: ''
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background-color: $white
            z-index: 20
        &__contacts
            display: none
        &__phone
            display: block
            margin-top: 5px
            position: relative
            z-index: 20
            transform: translateX(480%)
        &__burger
            margin-top: 14px
        &__logo
            position: relative
            z-index: 120
        &__burger
            z-index: 120
    .menu
        &__wrap
            padding-top: 125px
            position: fixed
            top: 0
            left: -100%
            width: 100%
            height: 100%
            background-color: $white
            margin: 0
            transition: .3s
            overflow: auto
    .nav
        &__list
            flex-direction: column
        &__item
            margin: 0
        &__link
            display: block
            padding: 15px 10px 15px 25px
            &::before
                display: none
    .hero
        &-side
            &__right
                background-position: 60% 0
@media screen and ( max-width: 950px )
    .about
        &-top
            &::after
                display: none
    .collect
        &-item
            &__image
                display: none
            &:nth-child(2)
                margin: 0 auto
    .hero
        &-side
            &__right
                background-position: 50% 0
@media screen and ( max-width: 900px )
    .video
        &-slider
            &-content
                &-btn
                    &.next,
                    &.prev
                        display: none
    .about
        &-top
            &__block
                &::after
                    top: -60px
                    right: -50px
                    background-size: contain
                    width: 165px
                    height: 168px
    .header
        &__phone
            transform: translateX(300%)
    .popup
        &-call
            &__image
                background-position: 130px 93px
    .form
        &-quiz
            &__fieldset
                &:nth-child(3),
                &:nth-child(4)
                    .form
                        &-quiz
                            &__wrap
                                flex-direction: column
            &__column
                .form-quiz__group
                    margin: 0 auto 25px
            &__lab
                margin-bottom: 20px
            &__title
                margin: 50px 0 70px
                text-align: center
            &-btn
                flex-direction: column
                align-items: center
            &__button
                margin: 50px auto 0
                &-prev
                    margin: 20px auto 0
            &__label
                &-radio
                    max-width: 280px
            &__wrap
                max-width: 660px
                margin: 0 auto
    .quiz
        &-count
            margin: 0 auto
@media screen and ( max-width: 768px )
    .about
        &-top
            &__block
                padding: 40px 20px 20px 30px
                &::after
                    top: -45px
                    right: 0
                    width: 100px
                    height: 118px
        &-center
            &__box
                padding: 40px 30px 15px
        &-bottom
            &__wrap
                padding: 40px 0 0
            &__image
                height: 400px
                background-position: top center
    .cards
        &-publicity
            &__text
                font-size: 18px
                line-height: 21px
        &__catalog
            font-size: 18px
            line-height: 21px
    .benefits
        &-block
            flex-direction: column
            align-items: center
            &__left
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(2)
                                top: 300px
            &__right 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                top: -230px
                                margin-bottom: 140px
        &-publicity
            &__text
                font-size: 20px
                line-height: 30px
            &__box
                &::before
                    height: 100%
    .form
        &-quiz
            &__wrap
                max-width: 620px
            &__title
                font-size: 24px
                margin: 30px auto 60px
                max-width: 300px
    .title
        font-size: 28px
        line-height: 36px
        margin: 0 auto 40px
    .send-mail
        max-width: 480px
        margin: 0 auto
    .quiz
        &-block
            &__form
                margin: 0
            &__image
                display: none !important
    .hero
        &-side
            &__right
                background-size: contain
                max-width: 100%
                background-position: center
                min-height: 530px
                top: 0
                right: auto
                left: 50%
                transform: translateX(-70%)
            &__left
                max-width: 500px
                margin: 0 auto
                padding-top: 270px
            &__title,
            &__text
                box-shadow: 0px 0px 15px 3px rgba($bg, .7)
                background-color: rgba($bg, .7)
            &__button
                margin: 0 auto 80px
    .advans
        +flex
        flex-direction: column
        &-block
            &__item
                &:nth-child(2)
                    left: -40px
    .popup
        &-download,
        &-call
            &__image
                display: none
            &__title
                margin: 0 auto 60px
            &__form
                margin: 0 auto
        &-call
            &__content
                padding: 70px 10px 30px
            &__title
                text-align: center
@media screen and ( max-width: 715px )
    .form
        &-quiz
            &__lab
                &:first-child
                    margin-right: 20px
            &__label
                &-radio
                    &:first-child
                        margin: 0
            &__wrap
                max-width: 580px
@media screen and ( max-width: 700px )
    .cards
        &-publicity
            &__text
                font-size: 14px
        &__catalog
            font-size: 14px
        &-block
            &s
                flex-direction: column
                align-items: center
            &__item
                margin-bottom: 30px
    .header
        &__phone
            transform: translateX(100%)
@media screen and ( max-width: 665px )
    .collect
        padding: 110px 0 50px
    .form
        &-quiz
            &__label
                &-radio
                    max-width: 190px
            &__wrap
                max-width: 410px
@media screen and ( max-width: 615px )
    .video
        &-slider
            &-content
                &__play
                    background-size: contain
                    width: 100px
                    height: 100px
    .collect
        &-form
            &__button 
                .button
                    &__icon
                        display: none
    .popup
        &-download
            &__content
                padding: 70px 10px 30px
        &-call
            height: 640px
            &__title
                font-size: 26px
                line-height: 34px
@media screen and ( max-width: 595px )
    .about
        padding: 80px 0
        &-top
            &__block
                &::after
                    display: none
                p
                    font-size: 16px
                    line-height: 24px
        &-center
            &__title
                font-size: 18px
            &__text
                font-size: 16px
                line-height: 24px
            &__image
                height: 300px
                background-size: cover
        &-bottom
            &__image
                height: 300px
                background-size: cover
                background-position: center
            &__item,
            &__text
                font-size: 16px
                line-height: 24px
            &__title
                font-size: 18px
    .collect
        &-bottom
            padding-top: 50px
        &-form
            .policy
                &__label
                    float: right
                    display: inline-block
                    &::before
                        float: left
@media screen and ( max-width: 540px )
    .about
        &-bottom
            &__wrap
                padding: 40px 0 0 20px
                margin: 0
            &__list
                margin: 0
                padding-left: 50px
    .avto
        &-side
            &__image
                min-height: 580px
        &-block
            &__item
                &:nth-child(1)
                    margin: 200px auto 0
    .hero
        &-side
            &__right
                background-size: 130% 75%
                transform: translateX(-75%)
            &__title
                font-size: 30px
                line-height: 40px
                max-width: none

            &__left
                max-width: 340px
                padding-top: 320px
            &__text
                font-size: 17px
            &__button
                padding: 32px 35px 36px
                margin: 0 auto 50px
                .button
                    &__icon
                        display: none
                    &__text
                        margin: 0 auto
                        font-size: 16px
    .popup
        &-thanks
            height: 560px
            &__content
                padding: 80px 20px 20px
            &__title
                font-size: 20px
                line-height: 27px
                max-width: 300px
        &-download
            height: 660px
@media screen and ( max-width: 500px )
    .collect
        &-item
            &__title
                font-size: 24px
                line-height: 30px
                margin-bottom: 30px
    .for
        padding: 40px 0
    .benefits
        padding: 60px 0
    .send-mail
        &__title
            font-size: 24px
            line-height: 30px
            margin-bottom: 35px
    .form
        &-quiz
            &__lab
                &:first-child
                    margin-right: 15px
            &__wrap
                max-width: 395px
    .quiz
        padding: 60px 0
    .hero
        &-side
            &__left
                padding-top: 270px
            &__right
                top: -45px
                background-size: 135% 70%
    .header
        padding: 20px 0
        &__logo
            width: 117px
            height: 30px
        &__phone
            margin: 0
        &__burger
            margin-top: 8px
@media screen and ( max-width: 480px )
    .footer
        &-box
            &__title
                font-size: 20px
            p
                font-size: 16px
                line-height: 24px
            &__text
                font-size: 16px
            &__item
                &-title
                    font-size: 22px
                &:nth-child(3) 
                    .footer-box
                        &__text
                            font-size: 20px
    .video
        &-slider
            &-content
                height: 300px
    .about
        &-bottom
            &__list
                padding-right: 20px
    .collect
        &-item
            &:nth-child(2)
                padding: 40px 10px
        &-block
            &__text
                font-size: 14px
                line-height: 21px
            &__item
                &:nth-child(1), 
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) 
                    .collect
                        &-block
                            &__check
                                top: 0
    .for
        &-box
            &__inner
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5)
                    transform: translate(-44%, 0)
        &-block
            &__item
                padding: 40px 0 20px
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3)
                    .for
                        &-block
                            &__title,
                            &__text
                                margin-left: 0
                                padding: 0 20px
                            &__title
                                font-size: 18px
                            &__text
                                font-size: 14px
                                line-height: 21px
                    .for-block
                        &__image
                            transform: translate(-20px, 0)
            &__number
                font-size: 135px
                margin-top: 15px
            &__inner
                .for
                    &-block
                        &__title,
                        &__text
                            margin-left: 0
                            padding: 0 20px
                        &__title
                            font-size: 18px
                        &__text
                            font-size: 14px
                            line-height: 21px
                &-top
                    padding: 40px 0 20px
        &-slider
            &-content
                height: 300px
                &__item 
                    picture
                        max-width: 380px
                &-dots
                    bottom: -6px
    .cards
        &__subtitle
            font-size: 14px
            line-height: 21px
            margin: 0 0 60px 0
    .button
        &__icon
            display: none
    .benefits
        &-publicity
            &__text
                font-size: 14px
                line-height: 21px
    .button
        &__text
            margin: 0 auto
            font-size: 16px
    .quiz
        &__gift
            font-size: 15px
    .form
        &-quiz
            &__label
                &-radio
                    max-width: 142px
            &__title
                font-size: 18px
                line-height: 27px
            &__answer
                font-size: 16px
            &__wrap
                max-width: 300px
    .title
        font-size: 20px
        line-height: 30px
    .popup
        &-download
            height: 600px
            &__title
                font-size: 20px
                line-height: 27px
                text-align: center
                max-width: 300px
            &__form
                max-width: 300px
        &-call
            height: 600px
            &__title
                font-size: 20px
                line-height: 27px
            &__form
                max-width: 300px
    .form
        &-download,
        &-call
            &__button
                padding: 32px 10px 36px
                span
                    font-size: 16px
            &__group
                .policy
                    &__label
                        font-size: 12px
                        display: inline
                        float: right
                        &::before
                            float: left
@media screen and ( max-width: 425px )
    .avto
        &-side
            &__image
                min-height: 500px
        &-block
            &__item
                &:nth-child(1)
                    margin: 120px auto 0
            &__title
                margin: 0 auto 20px
            &__text
                font-size: 16px
                line-height: 24px
                margin-bottom: 40px
    .for
        &-box
            &__plus
                display: none
            &__inner
                transform: translate(0, 0) !important
                left: auto
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5)
                    .for
                        &-box
                            &__item
                                max-width: 100%
                                padding: 25px 30px
        &-block
            &__item
                &:nth-child(1), 
                &:nth-child(2),
                &:nth-child(3)
                    .for
                        &-block
                            &__image
                                transform: translate(0, 0)
    .quiz
        &-count
            max-width: 213px
            &__number
                margin-right: 12%
    .send-mail
        &__button 
            span
                &:nth-child(1)
                    font-size: 16px
                &:nth-child(2)
                    font-size: 12px
    .hero
        &__bg
            min-height: 930px
        &-side
            &__right
                top: -50px
                background-size: 137% 67%
            &__left
                padding-top: 250px
    .popup
        &-thanks
            height: 540px
            &__link
                max-width: 300px
            &__close
                top: 25px
                right: 25px
            &__content
                padding: 80px 10px 20px
    .menu
        &__wrap
            padding-top: 75px
@media screen and ( max-width: 400px )
    .hero
        &-side
            &__right
                background-size: 160%
                background-position: -153px
                transform: translateX(-72%)
@media screen and ( max-width: 375px )
    .footer
        &-box
            padding: 70px 15px 660px
            &__title
                margin-bottom: 25px
            p
                margin: 0 0 40px
            &__item
                margin-bottom: 35px
            &__item-title
                margin-bottom: 35px
                font-size: 20px
    .video
        &-slider
            &-content
                height: 240px
                &__play
                    width: 70px
                    height: 70px
    .avto
        padding: 100px 0 30px
    .about
        &-top
            &__block 
                padding: 20px 15px
                p
                    font-size: 14px
                    line-height: 21px
        &-center
            &__text
                font-size: 14px
                line-height: 21px
            &__image
                height: 190px
                max-width: 300px
        &-bottom
            &__item,
            &__text
                font-size: 14px
                line-height: 21px
            &__image
                height: 190px
                max-width: 300px
    .input
        padding: 0 20px 0 60px
    .collect
        &-item
            &__title
                font-size: 18px
                line-height: 21px
        &-form
            &__group
                &:nth-child(1),
                &:nth-child(2)
                    .collect-form
                        &__icon
                            left: 25px
    .for
        &-box
            &__inner
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5)
                    .for
                        &-box
                            &__item
                                padding: 20px
            &__title
                font-size: 18px
            &__text
                font-size: 16px
        &-slider
            &-content
                height: 240px
                &__item 
                    picture
                        max-width: 300px
    .cards
        &__title
            font-size: 18px
        &-publicity
            &__box
                padding: 15px 40px
        &-block
            &__text
                font-size: 14px
                line-height: 21px
                margin: 0 auto 90px
                height: 90px
    .benefits
        &__subtitle
            font-size: 13px
            line-height: 20px
        &-block
            &__title
                font-size: 18px
            &__text
                font-size: 16px
                line-height: 24px
            &__left 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1)
                                margin-bottom: 140px
                                .benefits
                                    &-block
                                        &__close
                                            transform: translate(-10px, -150px)
                            &:nth-child(2)
                                top: 250px
            &__right 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(1) 
                                .benefits
                                    &-block
                                        &__close
                                            transform: translate(-10px, -120px)
                            &:nth-child(2)
                                .benefits
                                    &-block
                                        &__close
                                            transform: translate(-10px, -70px)
        &-publicity
            &__box
                padding: 15px 30px
                margin: 100px auto 0
    .button
        padding: 32px 25px 36px
    .send-mail
        .input
            font-size: 16px
        &__button
            &::before
                display: none
        &__group
            &:nth-child(1),
            &:nth-child(2) 
                .send-mail
                    &__icon
                        left: 27px
    .quiz
        &__title
            font-size: 18px
        &__gift
            margin: 20px 0 40px
        &-block
            &__item
                &:nth-child(2)
                    padding: 50px 10px
        &-count
            max-width: 146px
            &__number
                width: 20px
                height: 20px
                margin-right: 15%
                &.count-active
                    width: 20px
                    height: 20px
                    margin-right: 15%
                    font-size: 10px
                    &:last-child
                        margin-right: 0
    fieldset
        padding: 0
    .form
        &-quiz
            &__group
                margin-right: 0
                margin-bottom: 15px
            &__tile
                margin: 46px auto 63px
                max-width: 220px
            &__wrap
                max-width: 275px
            &__label
                &-radio
                    max-width: 130px
                &-checkbox
                    font-size: 16px
                    &::before
                        margin-right: 15px
            &__button
                    margin: 100px auto 23px
            &__column 
                .form-quiz__group
                    width: 100%
    .container
        padding: 0 10px
    .hero
        &__bg
            min-height: 860px
        &-side
            &__right
                top: -48px
                background-size: 200%
                background-position: -283px
                transform: translateX(-61%)
            &__title
                font-size: 26px
                line-height: 37px
                margin: 18px 0 26px
            &__text
                font-size: 15px
                margin: 0 0 38px 0
            &__left
                max-width: 300px
                padding-top: 225px
    .header
        padding: 19px 0
        .container
            padding: 0 9px
        &__phone
            transform: translateX(-5%)
        &__burger
            width: 25px
    .popup
        .input
            padding: 0 14px 0 64px
            font-size: 16px
        &-thanks
            &__close
                top: 18px
                right: 18px
            &__content
                padding: 70px 10px 20px
            &__title
                margin: 0 auto 33px
            &__image
                width: 180px
                height: 180px
                margin: 0 auto 40px
            &__link
                height: 90px
        &-download
            height: 570px
            &__close
                top: 18px
                right: 20px
            &__title
                margin: 0 auto 40px
        &-call
            &__close
                top: 18px
                right: 20px
            &__title
                margin: 0 auto 40px
                font-size: 18px
    .form
        &-download,
        &-call
            &__group
                margin-bottom: 11px
                &:nth-child(1)
                    .form
                        &-download
                            &__icon
                                left: 28px
                &:nth-child(2)
                    .form
                        &-download
                            &__icon
                                left: 28px
            &__button
                margin: 28px 0 0px
            .policy
                &__label
                    &::before
                        width: 15px
                        height: 15px
                        margin-right: 5px
                        margin-left: 15px
@media screen and ( max-width: 345px )
    .video
        &__button 
            span
                font-size: 14px
    .hero
        &-side
            &__right
                transform: translateX(-56%)
@media screen and ( max-width: 329px )
    .benefits
        &-block
            &__left 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(2)
                                top: 270px
            &__right 
                .benefits
                    &-block
                        &__wrapper
                            &:nth-child(2) 
                                .benefits
                                    &-block
                                        &__close
                                            transform: translate(-10px, -95px)
@media screen and ( max-width: 320px )
    .hero
        &-side
            &__right
                top: -68px
                background-size: 210%
                background-position: -263px
                transform: translateX(-65%)